# see https://aka.ms/editorconfigdocs

root = true

# C# files
[*.{cs}]

#### Core EditorConfig Options ####

# Indentation and spacing
indent_size = 4
indent_style = space
tab_width = 4

# New line preferences
end_of_line = crlf
insert_final_newline = false

# Default severity for analyzer diagnostics (escalated to build warnings)
dotnet_analyzer_diagnostic.severity = warning

csharp_new_line_before_open_brace = none
csharp_new_line_before_else = false
csharp_style_prefer_pattern_matching = false
csharp_style_pattern_local_over_anonymous_function = false
dotnet_style_prefer_conditional_expression_over_return = false

# CA1308: Normalize strings to uppercase
dotnet_diagnostic.CA1308.severity = silent

# CA1515: Consider making public types internal
dotnet_diagnostic.CA1515.severity = none

# IDE0130: Namespace does not match folder structure
dotnet_diagnostic.IDE0130.severity = none

# IDE0039: Use local function
dotnet_diagnostic.IDE0039.severity = none

# CA1508: Avoid dead conditional code
dotnet_diagnostic.CA1508.severity = none

# CA1062: Validate arguments of public methods
dotnet_diagnostic.CA1062.severity = none
